/* public/css/style.css */

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #93e6f6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */
    z-index: -1; /* Places the video behind other content */
}

/* Hero Section Styles */
.hero {
    background-size: cover;
    background-position: center;
    color: #e7f3e2;
    text-align: center;
    padding: 150px 0;
    position: center;
}
/* public/css/style.css */

/* ... (other styles) */

/* Animation for the h1 tag */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero h1 {
    font-size: 76px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 38px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #ecdfdf;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c0392b;
}

